@use "../utils/mixins"as mix;
@use "../utils/variables"as var;

footer {
  width: auto;
  height: 200px;
  padding: 0 1.5em;
  background-color: var.$main-color--d2;
  color: white;

  @include mix.tablet-resp {
    position: relative;
    width: 80vw;
    margin: 0 auto;
    border-radius: 0 0 40px 40px;
    padding: 0;
    margin-bottom: 30px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }

  @include mix.desktop-resp {
    position: relative;
    width: 80vw;
    margin: 0 auto;
    padding: 0;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    max-width: var.$max-width-responsive;
  }

  .logo {
    font-family: "Shrikhand";
    font-size: 18px;
    padding: 25px 0;

    @include mix.tablet-resp {
      text-align: center;
    }

    @include mix.desktop-resp {
      text-align: center;
    }
  }

  ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    height: 95px;
    justify-content: space-between;

    @include mix.tablet-resp {
      flex-direction: row;
      width: 100%;
      justify-content: space-evenly;
      height: 50px;

    }

    @include mix.desktop-resp {
      flex-direction: row;
      width: 100%;
      justify-content: space-evenly;
      height: 50px;

    }

    i {
      width: 20px;
      font-size: 13px;
    }

    a {
      text-decoration: none;

      &:visited {
        color: var.$main-color--d1;
      }

      &:link {
        color: white;
      }
    }
  }
}