@use "../utils/variables"as var;

/* ====================== Loader Animation ======================= */

@keyframes loading {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes text {
    0% {
        background-position: -100px;
    }

    100% {
        background-position: 500px;
    }
}

@keyframes fade {
    0% {
        // transform: scale(1, 1);
        opacity: 1;
    }

    100% {
        // transform: scale(700, 700);
        opacity: 0;
    }
}

@keyframes zback {
    0% {
        // transform: scale(1, 1);
        z-index: 4;
    }

    100% {
        // transform: scale(700, 700);
        z-index: -10000;
    }
}

/* ==================== Like Button Animation ==================== */

@keyframes wave-animation {
    0% {
        background-position: 0 bottom;
    }

    100% {
        background-position: 150px bottom;
    }
}

@keyframes loading-animation {
    0% {
        background-size: 40px 0px;
    }

    100% {
        background-size: 150px 80px;
    }
}

/* ====================   Menu Animations   ==================== */

@keyframes SlideFromBottom {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}