@use "../utils/variables"as var;

/* ====================== Loader Animation ======================= */

@-webkit-keyframes loading {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes loading {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes text {
    0% {
        background-position: -100px;
    }

    100% {
        background-position: 500px;
    }
}

@keyframes text {
    0% {
        background-position: -100px;
    }

    100% {
        background-position: 500px;
    }
}

@-webkit-keyframes fade {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes fade {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@-webkit-keyframes zback {
    0% {
        z-index: 4;
    }

    100% {
        z-index: -10000;
    }
}

@keyframes zback {
    0% {
        z-index: 4;
    }

    100% {
        z-index: -10000;
    }
}

/* ==================== Like Button Animation ==================== */

@-webkit-keyframes wave-animation {
    0% {
        background-position: 0 bottom;
    }

    100% {
        background-position: 150px bottom;
    }
}

@keyframes wave-animation {
    0% {
        background-position: 0 bottom;
    }

    100% {
        background-position: 150px bottom;
    }
}

@-webkit-keyframes loading-animation {
    0% {
        background-size: 40px 0px;
    }

    100% {
        background-size: 150px 80px;
    }
}

@keyframes loading-animation {
    0% {
        background-size: 40px 0px;
    }

    100% {
        background-size: 150px 80px;
    }
}

/* =====================   Menu Animations   ===================== */

@-webkit-keyframes SlideFromBottom {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes SlideFromBottom {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* =====================   Slideshow Animations   ===================== */

@-webkit-keyframes fadeslide {
    0% {
        opacity: 1;
    }

    40% {
        opacity: 1;
    }

    60% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@keyframes fadeslide {
    0% {
        opacity: 1;
    }

    40% {
        opacity: 1;
    }

    60% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}