@use "../utils/variables"as var;
@use "../utils/mixins"as mix;

.gradient-rounded-btn {
  background-image: var.$grad-secon-to-prim-color;
  color: white;
  @include mix.btn-shadow-with-hover;
  border: none;
  outline: none;
  font-weight: 500;
  border-radius: 25px;
  height: 50px;
  width: 220px;
  margin: 20px 0;
  cursor: pointer;

  &:hover {
    background-image: var.$grad-secon-to-prim-color-lighter;
  }
}