#background-slideshow {
    position: fixed;

    img {
        -o-object-fit: cover;
        object-fit: cover;
        -o-object-position: center;
        object-position: center;
        width: 100vw;
        height: 100vh;
        position: absolute;
        top: 0;
        left: 0;
        filter: blur(10px);

        &:nth-of-type(1) {
            z-index: 4;
            animation: fadeslide 10s ease 4.5s alternate infinite forwards, fadeslide 10s ease 44.5s alternate-reverse infinite forwards;
        }

        &:nth-of-type(2) {
            z-index: 3;
        }
    }
}