@use "../utils/mixins"as mix;
@use "../utils/variables"as var;

.banner {
  position: relative;
  z-index: 1;

  .location {
    height: 50px;
    background-color: var.$main-color--d1;
    color: var.$main-color--d2;
    @include mix.flex(center, center);

    input {
      background-color: var.$main-color--d1;
      color: var.$main-color--d2;
      font-weight: 500;
      border-style: none;
      text-align: center;
      width: 150px;

      &::placeholder {
        color: var.$main-color--d2;
      }

      &:focus {
        outline: none;
      }

      &[type="search"]::-webkit-search-cancel-button {
        display: none;
      }
    }
  }

  .discover {
    height: 210px;
    padding: 40px 30px;
    @include mix.flex(space-between, center);
    flex-direction: column;
    background-color: var.$main-color;
    text-align: center;

    &__btn {
      height: 50px;
      width: 220px;
      margin: 20px 0;
      cursor: pointer;
    }
  }
}

#functioning {
  padding: 50px 20px 30px 20px;

  .functioning__steps {
    height: 265px;
    margin: 20px 0;
    padding-left: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

#places {
  background-color: var.$main-color;
  padding: 50px 20px 30px 20px;

  .places__list {
    margin: 10px 0 20px 0;
    @include mix.flex(center, center);
    flex-direction: column;
    row-gap: 10px;

    a {
      text-decoration: none;
    }

  }
}

.restaurant {
  width: 100%;
  height: 250px;
  position: relative;

  span {
    position: absolute;
    top: 10px;
    right: 10px;
  }

  img {
    height: var.$tile-img-height;
    width: 100%;
    object-fit: cover;
    overflow: auto;
    border-radius: var.$tile-border-radius var.$tile-border-radius 0 0;
  }

  &__content {
    position: absolute;
    top: var.$tile-img-height;
    height: calc(100% - var.$tile-img-height);
    width: 100%;


    @include mix.flex(space-between, center);

    p {
      font-size: 17px;
    }

    .restaurant-title {
      padding-left: 20px;
      flex: 0.8;
      line-height: 1.4;
      color: black;

    }

    .like-btn {
      position: relative;
      font-size: 25px;
      overflow: visible;
      padding-right: 20px;
      flex: 0.2;
      width: 15px;



      &__main {
        position: absolute;
        z-index: 1;
        right: 20px;
        top: -15px;

        color: transparent;


        &:hover {
          cursor: pointer;
          background-image: url("../assets/png/wave.png");
          -moz-background-clip: text;
          -o-background-clip: text;
          -webkit-background-clip: text;
          background-clip: text;
          animation: wave-animation 0.5s linear forwards, loading-animation 1.5s linear forwards;
          background-size: 40px 40px;
          background-repeat: repeat-x;
          opacity: 1;
          overflow: visible;
        }
      }

      &__background {
        position: absolute;
        z-index: 0;
        top: -15px;
        right: 20px;
        overflow: visible;
      }
    }
  }
}



@keyframes wave-animation {
  0% {
    background-position: 0 bottom;
  }

  100% {
    background-position: 150px bottom;
  }
}

@keyframes loading-animation {
  0% {
    background-size: 40px 0px;
  }

  100% {
    background-size: 150px 80px;
  }
}


// Gradient colors for the heart button

.stop1 {
  stop-color: var.$primary-color;
}

.stop2 {
  stop-color: var.$secondary-color;
}