@use "../utils/mixins"as mix;
@use "../utils/variables"as var;

#background-slideshow {
  display: none;

  @include mix.tablet-resp {
    display: initial;
  }

  @include mix.desktop-resp {
    display: initial;
  }
}

.banner {
  position: relative;
  z-index: 1;

  @include mix.tablet-resp {
    top: 30px;
  }

  .location {
    height: 50px;
    background-color: var.$main-color--d1;
    color: var.$main-color--d2;
    @include mix.flex(center, center);

    input {
      background-color: var.$main-color--d1;
      color: var.$main-color--d2;
      font-weight: 500;
      border-style: none;
      text-align: center;
      width: 150px;

      &::-webkit-input-placeholder {
        color: var.$main-color--d2;
      }

      &::-moz-placeholder {
        color: var.$main-color--d2;
      }

      &:-ms-input-placeholder {
        color: var.$main-color--d2;
      }

      &::-ms-input-placeholder {
        color: var.$main-color--d2;
      }

      &::placeholder {
        color: var.$main-color--d2;
      }

      &:focus {
        outline: none;
      }

      &[type="search"]::-webkit-search-cancel-button {
        display: none;
      }
    }
  }

  .discover {
    height: 210px;
    padding: 40px 30px;
    @include mix.flex(space-between, center);
    flex-direction: column;
    background-color: var.$main-color;
    text-align: center;

    @include mix.desktop-resp {
      height: 150px;
      padding: 30px 30px 20px 30px;
    }
  }
}

#functioning {
  padding: 50px 20px 30px 20px;

  @include mix.tablet-resp {
    position: relative;
    background-color: white;
    top: 30px;
    padding-top: 50px;
  }

  @include mix.desktop-resp {
    background-color: white;
    position: relative;
  }

  .functioning__steps {
    height: 265px;
    margin: 20px 0;
    padding-left: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include mix.desktop-resp {
      flex-direction: row;
      flex-wrap: nowrap;
      -moz-column-gap: 3vw;
      column-gap: 3vw;
      height: -webkit-fit-content;
      height: -moz-fit-content;
      height: fit-content;
    }
  }
}

#places {
  background-color: var.$main-color;
  padding: 50px 20px 30px 20px;

  @include mix.tablet-resp {
    position: relative;
    top: 30px;
  }

  @include mix.desktop-resp {
    position: relative;
  }

  .places__list {
    margin: 20px 0;
    @include mix.flex(center, center);
    flex-direction: column;
    row-gap: 20px;

    @include mix.desktop-resp {
      flex-direction: row;
      width: auto;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    a {
      text-decoration: none;
      width: 100%;
      z-index: 2;
    }
  }
}

.restaurant {
  width: 100%;
  height: 250px;
  position: relative;
  transition: transform .1s ease-in-out;
  @include mix.like-btn($font-size:28px, $right:20px, $left:unset, $top:unset, $bottom:30px, $bg-size:40px);

  @include mix.desktop-resp {
    width: 49%;
  }

  &:hover {
    transform: scale(1.005);
    transition: transform .1s ease-in-out;
  }

  span {
    position: absolute;
    top: 10px;
    right: 10px;
  }



  &__content {
    height: 100%;
    width: 100%;
    flex-direction: column;
    @include mix.flex(space-between, start);

    &__img {
      height: var.$tile-img-height;
      width: 100%;

      img {
        height: 100%;
        width: 100%;
        -o-object-fit: cover;
        object-fit: cover;
        -o-object-position: center;
        object-position: center;
        border-radius: var.$tile-border-radius var.$tile-border-radius 0 0;
      }
    }

    p {
      font-size: 17px;
    }

    &__title {
      @include mix.flex (center, start);
      flex-direction: column;
      padding: 0px 20px;
      flex: 1;
      line-height: 1.4;
      color: black;
    }
  }
}